h1 {
  font-size: 60px;
  color: rgb(10, 1, 1);
  text-align: center;
}
header {
  font-weight: bold;
  text-align: center;
}
html {
  background-image: url("https://i.imgur.com/kUGGrs1.png");
}
p {
  text-align: center;
  font-weight: bold;
  padding: 80px;
  font-size: 30px;
}
/*:active is a psuedo-class selector that is used to style an element while being clicked*/
li {
  text-decoration-color: green;
  color: red;
  border-radius: 15px;
  background-color: grey;
  border: 2px solid black;
  padding: 40px;
  margin: 20px;
  display: inline;
}
ul {
  margin: 30px;
  padding: 20px;
  text-align: center;
}
#form {
  display: block;
  padding: 30px;
  text-align: center;
}
#info {
  border-radius: 15px;
  background-color: gray;
  border: 5px solid rgb(56, 52, 52);
}
#gallery {
  display: block;
  justify-content: align-evenly;
  border-radius: 15px;
  background-color: gray;
  border: 5px solid grey;
}
footer {
  text-align: center;
  padding: 30px;
}
main {
  display: block;
  border: 5px;
}

